{% extends 'base.html.twig' %}

{% block title %}Wszystkie wiadomości
{% endblock %}


{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h2 class="title">Wszystkie wiadomości</h2>
		</div>
	{% endblock %}
	{% block section %}
		<section>
			{% include "shared_global/info.html.twig" %}
			<div class="rounded-5 p-3 my-bg-white">
				<table class="table m-0 my-bg-white">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Imię</th>
							<th scope="col">Nazwisko</th>
							<th class="text-end" scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{% for message in messages %}
							<tr>
								<td>
									{% if message.recipient.avatar %}
										<img class="rounded-circle object-fit-cover my-1" width="35" height="35" src="{{avatar_url ~ message.recipient.avatar}}" alt="">
									{% else %}
										<img src="/assets/image/mean.png" width="35" height="35" class="rounded-circle float-start" alt="...">
									{% endif %}
								</td>
								<td>
									{{message.recipient.firstName}}
								</td>
								<td>{{message.recipient.lastName}}</td>
								<td class="text-end">
									<div class="position-relative">
										<a type="button" class="btn btn-danger text-decoration-none text-white" href="{{path('message', {id:message.recipient.id})}}">Czytaj</a>
										{% if message.seen %}
											<span class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">
												<span class="visually-hidden">New alerts</span>
											</span>
										{% endif %}
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}{% endblock %}
