{% extends 'base.html.twig' %}

{% block title %}Brak Dostępu
{% endblock %}


{% block main %}
	{% block section %}
		<section class="d-flex flex-column justify-content-center align-items-center">
			<img class="me-2" src="/assets/image/3805110.jpg" width="400" alt=" ">
			<p class="h3">BRAK DOSTĘPU</p>
			<p></p>
			<a class="btn btn-success" href="{{ path('dashboard')}}">Wróć do Panelu Głównego</a>
		</section>
	{% endblock %}
{% endblock %}
