{% extends 'base.html.twig' %}

{% block title %}Dodaj Raport
{% endblock %}


{% block main %}
	{% block titleSection %}
		<h2 class="title-section">Dodaj Raport</h2>
	{% endblock %}
	{% block section %}
		<section>
			{{ form(form) }}
			</section>
		{% endblock %}
	{% endblock %}
