{% extends 'base.html.twig' %}

{% block title %}Dodaj Raport
{% endblock %}


{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h3 class="title">Dodaj Raport</h3>
		</div>
	{% endblock %}
	{% block section %}
		<section>
			{% include "dashboard/shared/_form_report_add.html.twig" %}
		</section>
	{% endblock %}
{% endblock %}
