@import "../mixins.less";
@import "../vars.less";

body {
	aside,
	header {
		i::before {
			font-size: 22px;
		}
		span {
			color: @color-main;
		}
		.nav-link {
			color: @color-white;
			&:hover {
				color: @color-main;
				font-weight: 600;
			}
		}
	}
}
