@import "../vars.less";
@import "../mixins.less";

body {
	header {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		margin: 1rem 1.2rem;
		div {
			.dropdown-toggle.dropdown-toggle-split {
				background: transparent;
				border: 0;
				&::after {
					content: none;
				}

				.bi.bi-caret-down-square-fill {
					position: absolute;
					bottom: -5px;
					right: -3px;
					color: @bg-main;
					&::before {
						background-color: @color-white;
						border-radius: 50%;
						font-size: 16px;
					}
				}
			}

			.img-header {
				transition: transform 0.4s;
				&:hover {
					transform: scale(1.03);
				}
			}
			.nav-link {
				color: @color-black;
				&:hover {
					font-weight: normal;
				}
			}
			.dropdown-item:active {
				background-color: transparent;
			}
			button.btn.btn-primary {
				&:hover {
					background: transparent !important;
				}
				.bi {
					color: @text-black;
					&::before {
						font-size: 25px;
					}
				}
				.rounded-pill {
					top: 10px;
					background-color: @text-main;
					font-size: 11px;
				}
			}
		}
		.logo-header {
			transform: scale(0);
			transition: transform 1s;
		}
		.logo-header.active {
			transform: scale(1);
		}
	}
}
