{% extends 'base.html.twig' %}

{% block title %}Raporty
{% endblock %}

{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h3 class="title">Raporty</h3>
		</div>
	{% endblock %}
	{% block section %}
		<section class="box-reports">
			{% include "shared_global/info.html.twig" %}
			{% include "dashboard/trainer/_raports.html.twig" %}
		</section>
	{% endblock %}
{% endblock %}
