{% extends 'base.html.twig' %}

{% block title %}Wszyscy Podopieczni
{% endblock %}


{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h2 class="title">Wszyscy Podopieczni</h2>
		</div>
	{% endblock %}
	{% block section %}
		<section>
			{% include "shared_global/info.html.twig" %}
			{% if students is not empty  %}
				<div class="rounded-5 p-3 my-bg-white">
					<table class="table m-0 my-bg-white">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Imię</th>
								<th scope="col">Nazwisko</th>
								<th class="text-end" scope="col">Zobacz Profil</th>
							</tr>
						</thead>
						<tbody>
							{% for student in students %}
								<tr class="line-height">
									<td>
										{% include 'dashboard/shared/_img_avatar.html.twig' with {avatar: student.avatar , width: 35, height: 35} %}
									</td>
									<td>{{student.firstName}}</td>
									<td>{{student.lastName}}</td>
									<td class="text-end">
										<a type="button" class="btn btn-success" href="{{path('trainer_student', {id:student.id})}}">Czytaj</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% else %}
				<p>brak podopiecznych</p>
			{% endif %}
		</section>
	{% endblock %}
{% endblock %}
