@color-white: #fffffd;
@color-light-white: #f2f4f5;
@color-dark-white: #cfcfcf;
@color-main: hsl(207, 48%, 62%);
@color-dark-main: hsl(207, 48%, 55%);

@color-success: #72af62;
@color-success-hover: #5c934e;

@color-danger: #e87070;
@color-danger-hover: #ce5e5e;

@color-primary: #4eb0f2;
@color-primary-hover: #4294cc;

@color-black: #3b434f;
@color-dark-gray: #35393f;

@color-dark1: #0a142d;
@color-dark2: #171020;
@color-dark3: #58627b;
@color-dark4: #e8e8e8;
@color-dark5: #b484ff;
@color-dark6: #e8e8e8;
@color-dark8: #9456ff;

@bg-main: linear-gradient(222deg, #9456ff 0%, #6b38c5 100%);

@max-mobile: "only screen and (max-withe: 576px)";
@max-tablet: "only screen and (max-withe: 768px)";
@max-desktop: "only screen and (max-withe: 1200px)";
@max-big-desktop: "only screen and (max-withe: 1400px)";
