@color-white: #fffffd;
@color-light-white: #f2f4f5;
@color-dark-white: #cfcfcf;
@color-main: #ffab2d;
@color-dark-main: #de962a;

@text-white: #fffffd;
@text-gray: #a2a7aa;
@text-black: #1d1d1d;
@text-main: #ffab2d;
@text-dark-main: #de962a;

@bg-white: #fffffd;
@bg-light-gray: #f4f6f7;
@bg-light-dark-gray: #e9edee;
@bg-gray: #cacccc;
@bg-dark-gray: #a2a7aa;
@bg-light-black: #3b3c3c;
@bg-black: #1d1d1d;
@bg-main: #ffab2d;
@bg-dark-main: #de962a;

@color-black: #3b434f;
@color-dark-gray: #35393f;

@max-mobile: "only screen and (max-withe: 576px)";
@max-tablet: "only screen and (max-withe: 768px)";
@max-desktop: "only screen and (max-withe: 1200px)";
@max-big-desktop: "only screen and (max-withe: 1400px)";
