@import "../mixins.less";
@import "../vars.less";

.box-reports {
	p {
		margin: 0;
		color: @color-dark-gray;
	}
	.report-box-user {
		width: max-content;
		.link {
			color: @color-dark-gray;
			text-decoration: none;
			transition: color 0.3s;
			&:hover {
				color: @color-dark-main;
			}
		}
	}
	.img {
		height: 3.5rem;
		width: 3.5rem;
	}

	.box-items-report {
		text-decoration: none;
		transition: box-shadow 0.3s;
		border-radius: 0 10px 10px 10px;
		&:hover {
			box-shadow: 0 0 10px 2px @color-dark-white;
		}
		li {
			min-width: 6.2rem;
		}
		.box-img {
			width: max-content;
		}
	}
}
