<header>
	<svg class="icon-array-nav" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-short" viewbox="0 0 16 16">
		<path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
	</svg>
	<nav class="nav">
		<div>
			<div class="d-flex justify-content-center"><img src="/assets/image/mean.png" width="150" alt=""></div>
			<a class="nav-link active" aria-current="page" href="#">Panel Główny</a>
			<a class="nav-link" href="{{path('app_dashboard')}}">Plan Treningowy</a>
			<a class="nav-link" href="{{path('app_dashboard2')}}">Dieta</a>
			<a class="nav-link" href="#">Raporty</a>
		</div>
		<form method="GET" action={{path('app_logout')}}>
			<button type="submit" class="nav-link">
				{% trans %}Wyloguj{% endtrans %}
			</button>
		</form>
	</nav>
</header>
