{% extends 'base.html.twig' %}

{% block title %}Panel Główny
{% endblock %}

{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h3 class="title">Panel Główny</h3>
		</div>
	{% endblock %}
	{% block section %}
		<section class="px-4 py-3 box-reports">
			{{ component('Messages') }}
			<div>
				<div style="height: 300px;">
					{{ render_chart(chartWeight, {'class': 'my-chart'}) }}
				</div>
				<div style="height: 300px;">
					{{ render_chart(chartCircuits, {'class': 'my-chart'}) }}
				</div>
			</div>
		</section>
	{% endblock %}
{% endblock %}
