{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}

{% block body %}
	<div class="box">
		<header>
			{% include 'dashboard/nav.html.twig' %}
		</header>

	</div>

{% endblock %}
