{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}

{% block body %}


	{% include 'dashboard/header.html.twig' %}
	{% include 'dashboard/aside.html.twig' %}


	<main class="p-4 d-flex">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, omnis voluptatibus dolor natus minus quidem autem labore excepturi doloribus, animi provident ab alias soluta quaerat quis consequuntur doloremque culpa asperiores quod vero nam laborum at. Voluptas vel voluptate fugit sint molestias adipisci exercitationem veniam corrupti in, incidunt perspiciatis facere dolorum odit, modi explicabo facilis illo impedit! Doloremque minus soluta animi atque repellat numquam dolor labore facilis voluptatibus veritatis vel expedita modi delectus assumenda sit unde corrupti suscipit pariatur dolorum nesciunt veniam nostrum, amet cumque blanditiis. Voluptatum itaque porro minus corporis iusto nihil temporibus iste, dolorem omnis consequuntur? Unde soluta facilis repellat numquam optio facere hic quis porro, cum ipsam aspernatur provident, voluptates quas itaque amet? Hic repudiandae, quasi doloribus maiores modi dolor dignissimos repellendus consequatur cupiditate sequi necessitatibus labore porro quisquam aliquid illo omnis nobis, repellat odio natus. Cupiditate quasi odit magni nostrum sapiente! Ea nulla laborum cupiditate aut eum, totam voluptates officiis velit unde blanditiis doloremque voluptatum porro eaque illo modi laudantium tenetur. Quisquam fugiat laudantium obcaecati accusantium facilis incidunt, doloribus nulla optio accusamus odio reiciendis dignissimos molestias explicabo cupiditate ipsum. Ipsam odio necessitatibus id consequatur nisi labore voluptatibus quod veritatis officia ab, vitae maiores voluptates sapiente amet numquam!</p>
	</main>

{% endblock %}
