{% extends 'base.html.twig' %}

{% block title %}Panel Główny
{% endblock %}


{% block main %}
	{% block titleSection %}
		<h2 class="p-2 ps-3 m-0 title-section">Panel Główny</h2>
	{% endblock %}
	{% block section %}
		<section class="px-4 py-3"></section>
	{% endblock %}
{% endblock %}
