{% extends 'base.html.twig' %}

{% block title %}Ustawienia
{% endblock %}


{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h2 class="title">Ustawienia</h2>
		</div>
	{% endblock %}
	{% block section %}
		<section>
			<p>Imię:
				{{user.firstName}}</p>
			<p>Nazwisko:
				{{user.firstName}}</p>

		</section>
	{% endblock %}
{% endblock %}
