{% extends 'base.html.twig' %}

{% block title %}Ustawienia
{% endblock %}


{% block main %}
	{% block titleSection %}
		<h2 class="title-section">Ustawienia</h2>
	{% endblock %}
	{% block section %}
		<section>
			<p>Imię: {{user.firstName}}</p>
			<p>Nazwisko: {{user.firstName}}</p>

		</section>
	{% endblock %}
{% endblock %}
