{{ form_label(form, null, {'label_attr': {'class': 'form-label mb-0'}}) }}
{% for choice in form %}
	<div class="form-check form-switch mb-1">
		{{ form_widget(choice, {'attr': {'class': 'form-check-input', 'role': 'switch',  'id': 'pastSports_' ~ loop.index0}}) }}
		{{ form_label(choice, null, {'label_attr': {'class': 'form-check-label', 'role': 'button', 'for': 'pastSports_' ~ loop.index0}}) }}
	</div>
{% endfor %}
<div class="form-errors">
	<small>{{ form_errors(form) }}</small>
</div>
