<div class="text-center mt-2">
	<p class="h4 mb-2">Brak Danych!</p>
	<p class="mb-2">
		Wyszukaj trenera, dołącz do jego teamu i rozpocznij swoją przygodę w stronę zdrowia i piękna.
	</p>
	<a type="button" class="btn btn-warning" type="button" class="btn" href="{{path('all_trainers')}}">SZUKAJ</a>
</div>
