<div class="text-center mt-2">
	<p class="h4 mb-2">Brak podopiecznych!</p>
	<p class="mb-2">
		Wyślij poniższy link do swojego podopiecznego aby przyłączył się do Twojego Teamu w fit24.pl
	</p>
	<div class="input-group mb-3">
		<p class="form-control">http://localhost:3000/dashboard/student/chose/trainer/{{app.user.id}}</p>
	</div>
</div>
